body {
  background-color: #fdfdbb;
}

a {
  color: #ff0000;
}

span {
  color: #0000ff;
}

.Footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

th {
  background-color: #259e3f;
  color: #000000;
  text-align: center;
}
tr {
  background-color: #000000;
  color: #ffffff;
}

td {
  padding: 5px;
}

td {
  text-align: right;
}
